@import'variables';

/*CSS CONTACTO*/
.container-form {
    margin: 15px;
    padding: 10px;

    .titulo-form {
        text-align: center;
        margin: 8px;
        padding: 6px;
        font-size: $titulo-mobile;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        input {
            width: 300px;
            height: 30px;
            margin: 12px;
            text-align: center;
        }

        .boton-contacto {
            margin-top: 15px;
            width: 300px;
            padding: 5px;

        }
    }
/*  AGREGANDO EXTEND Y MAPS*/
    h3 {
         /*extend*/
        @extend .titulo-form;
        text-decoration: underline;
        margin-top: 30px;
    }

    .container-botones {
        display: flex;
        justify-content: space-around;
    }

    .btn-redes {
        /*extend*/
        @extend .boton-contacto;
     border-radius: 15px;
    }
 /*maps*/
     @each $boton, $valor in $colores-botones{

        .btn-#{$boton}{
            background-color: $valor;
        }
            }
}