//breakpoint
$tablet:600px;
$desktop:992px;

//medidas varias
$titulo-desktop: 30px;
$texto-desktop: 20px;
$titulo-tablet: 24px;
$texto-tablet: 16px;
$titulo-mobile:20px;
$texto-mobile:12px;


$colores-botones:(redes:rgb(76, 121, 98), trabajos:rgb(121, 79, 79), clientes:rgb(98, 89, 180));
$colores-servicios:(bodas:#D3EBCD, moda:#816797, deportes:#E9A6A6, conciertos: #51557E, marcas: #950101, gastronomia:#B85C38)