@import 'contacto';
@import'nosotros';
@import 'media';
@import'variables';
@import 'servicios';


/* CSS GENERAL*/
* {
    font-family: "montserrat";
}

body {
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.logo-principal {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
}

.class-a {
    font-size: 20px;
    color: rgb(255, 255, 255);

    &:hover {
        color: white;
    }
}

.navbar-collapse {
    display: flex;
    flex-direction: column;
}

footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .text-footer {
        font-size: 10px;
        text-align: center;
        margin: 10px;
    }

    .logo-redes {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 30px;
    }
}



/* ---------- CSS INDEX ---------*/
.container-titulo-index {
    padding: 8px;
    margin-top: 15px;
    margin-left:
        10px;

    .titulo-index {
        font-size: $titulo-mobile;
        text-align: center;
    }

}

.container-img-index {
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
    padding: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;

    .img-index {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }

    .img-puente {
        grid-row: 4/6;
    }
}

.container-carousel-index {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 15px;

    .carouselIner-index {
        width: 350px;
        border-radius: 40px;

        .img-carousel-index {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 30px;
        }
    }
}

.container-texto1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        text-align: center;
        font-size: $texto-mobile;
        margin: 10px;
        padding: 10px;
    }
}

/*MEDIA QUERIES TABLET*/
@media screen and (min-width:#{$tablet}) {

    /*MEDIA  QUERIES GENERAL*/
    .logo-principal {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin: 10px;
        padding: 7px;
        border-radius: 40px;
    }

    /*MEDIA  QUERIES INDEX*/
    .container-titulo-index {
        .titulo-index {
            font-size: $titulo-tablet;
        }
    }

    .container-img-index {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 5px;

        .img-puente {
            grid-area: 3/3/4/4;
        }
    }

    .container-carousel-index {
        .carouselIner-index {
            width: 500px;

            .img-carousel-index {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 30px;
            }
        }
    }

    .container-texto1 {
        h3 {
            font-size: $texto-tablet;
        }
    }



    /* CONTACTO TABLET*/

    .container-form {
        .titulo-form {
            font-size: $titulo-tablet;
        }

        form {
            input {
                width: 400px;
                height: 35px;
                margin: 12px;
            }

        }
    }


    /* NOSOTROS TABLET*/

    .container-nosotros {
        .titulo-nosotros {
            font-size: $titulo-tablet
        }

        .contenedor-nosotros {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .quienes-somos {
                .texto-nosotros {
                    font-size: $texto-tablet;
                }

                h2 {
                    font-size: 22px;
                    text-align: center;
                }
            }

            .container-img-nosotros {
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                .img-nosotros {
                    width: 200px;
                    height: 200px;
                    margin: 10px;
                }
            }
        }

    }



    /*MEDIA TABLET*/


    .titulo-media {
        font-size: $titulo-tablet
    }

    .container-media {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(12, 250px);
        gap: 10px;
        margin: 20px;

        .img-camara {
            grid-area: 9/2/10/4;
        }

        .img-mujer {
            grid-column: 3/5;
        }

        .img-pareja {
            grid-area: 12/2/13/4;
        }
    }

    /*SERVICIOS TABLET*/

    .contenido-servicios {
        .container-tipo-servicio {
            .titulo-servicio {
                font-size: $titulo-tablet;
            }

            .texto-servicio {
                text-align: center;
                font-size: $texto-tablet;
            }

            .texto-servicio-2 {
                text-align: center;
                font-size: $texto-tablet;
                margin-bottom: 15px;
            }

            .carouselIner-servicios {
                width: 500px;
                height: 300px;

                .img-servicio {
                    width: 500px;
                    height: 300px;
                }
            }
        }
    }

}


/*MEDIA QUERIES DESKTOP*/
@media screen and (min-width: #{$desktop}) {

    /*MEDIA  QUERIES GENERAL*/

    .logo-principal {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin: 10px;
        padding: 7px;
        border-radius: 40px;
    }

    .text-footer {
        font-size: 15px;

    }

    footer {
        margin-top: 20px;

        .logo-redes {
            width: 40px;
            height: 40px;
        }
    }

    .boton-volver {
        border-radius: 50%;
        width: 90px;
        background-color: map-get($colores-varios, moda);
        font-size: 13px;
        position: fixed;
        bottom: 10px;
        right: 10px;
        font-weight: bold;
        color: white;
        transition: 1s;

        &:hover {
            background-color: map-get($colores-varios, moda);
            width: 120px;
            font-size: 16px;
        }
    }

    /* INDEX DESKTOP*/
    .container-titulo-index {
        .titulo-index {
            font-size: $titulo-desktop;
            text-align: left;
        }
    }

    .container-img-index {
        max-width: 100%;
        margin: 15px;
        padding: 15px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 250px);
        gap: 10px;

        .img-vintage {
            grid-area: 1/5/3/6;
        }

        .img-puente {
            grid-area: 2/4/3/5;
        }
    }

    .container-carousel-index {
        .carouselIner-index {
            width: 700px;

            .img-carousel-index {
                width: 100%;
                height: 300px;
                object-fit: cover;
                border-radius: 30px;
            }

        }

    }

    .container-texto1 {
        .segundotitulo-index {
            /* aplicando MAP-GET*/
            color: map-get($colores-varios, moda);
            font-size: 24px;
            transition: 1s;

            &:hover {
                background-color: map-get($colores-varios, moda);
                text-align: center;
                color: black;
                border-radius: 40%;
                width: 130px;
                font-size: 30px;
            }
        }

        h3 {
            font-size: $texto-desktop;
        }

    }




    /* CONTACTO DESKTOP*/

    .container-form {
        .titulo-form {
            font-size: $titulo-desktop;
            padding: 12px;
            margin-bottom: 20px;
        }

        form {
            input {
                width: 500px;
                height: 50px;
                margin: 16px;
                text-align: center;
            }

            .boton-contacto {
                margin-top: 15px;
                width: 200px;
                padding: 10px;
            }
        }
    }


    /* NOSOTROS DESKTOP*/

    .container-nosotros {
        .titulo-nosotros {
            font-size: $titulo-desktop
        }

        .contenedor-nosotros {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            width: 100%;

            .quienes-somos {
                display: flex;
                flex-direction: column;
                align-items: center;

                .texto-nosotros {
                    font-size: $texto-desktop;
                    width: 850px;
                    margin-left: 20px;
                }

                h2 {
                    font-size: $titulo-desktop;

                }
            }

            .container-img-nosotros {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .img-nosotros {
                    width: 400px;
                    height: 200px;
                }
            }
        }

    }

    /*MEDIA DESKTOP*/

    .titulo-media {
        font-size: $titulo-desktop;
    }

    .container-media {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(12, 250px);
        gap: 10px;
        margin: 45px;

        .img-nieve {
            grid-row: 11/13;
        }

        .img-ciudad {
            grid-row: 11/13;
        }

        .bici {
            grid-column: 1/3;
        }

        .chica {
            grid-area: 1/5/3/6;
        }

        .bailarina {
            grid-area: 3/2/5/3;
        }

        .nieve {
            grid-area: 2/4/4/5;
        }

        .fotomodelo {
            grid-row: 5/7;
        }

        .modelo3 {
            grid-row: 8/10;
        }

        .modelo5 {
            grid-column: 4/6;
        }

        .modelo6 {
            grid-row: 10/11;
        }

        .fotozapatillas {
            grid-area: 6/5/8/6;
        }

        .fotosillon {
            grid-column: 3/5;
        }

        .gastronomia {
            grid-area: 6/4/8/5;
        }

        .skate {
            grid-area: 7/3/9/4;
        }

        .camino {
            grid-area: 9/2/11/3;
        }

        .construccion {
            grid-area: 4/5/6/6;
        }

        .img-camara {
            grid-area: auto;
        }

        .img-mujer {
            grid-column: auto;
        }

        .img-pareja {
            grid-area: auto;
        }
    }



    /*SERVICIOS DESKTOP*/

    .contenido-servicios {
        .container-tipo-servicio {
            .titulo-servicio {
                font-size: $titulo-desktop;
                margin: 10px;
                padding: 10px;
                background-color: black;
                width: auto;
                transition: all 1s linear;


                &:hover {
                    font-size: 40px;
                }
            }

            .texto-servicio {
                text-align: center;
                width: 900px;
                font-size: $texto-desktop;

            }

            .texto-servicio-2 {
                text-align: center;
                width: 900px;
                font-size: $texto-desktop;
                margin-bottom: 15px;
            }

            .carouselIner-servicios {
                width: 800px;
                height: 400px;
                margin-bottom: 10px;

                .img-servicio {
                    width: 800px;
                    height: 400px;
                }
            }

        }
    }

}